.social-media {
    margin-top: 30px;
}

.social-media a {
    margin-right: 10px;
}

.field:not(:last-child) {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    body {
        background-color: #222027;
        padding-top: calc(3.25rem + 20px);
    }
    .hero.is-fullheight {
        min-height: calc(100vh - 6.5rem - 40px);
    }
}